<a href="https://colab.research.google.com/github/Jun022/Introduction-to-comput/blob/main/0529.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hi")

hi

In [ ]:
i = range(5)

In [ ]:
print(type(i))

<class 'range'>

In [ ]:
print(i)

range(0, 5)

In [ ]:
print(list(i))

[0, 1, 2, 3, 4]

In [ ]:
j = range(10)

In [ ]:
print(list(j))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = range(3,8)

In [ ]:
print(list(a))

[3, 4, 5, 6, 7]

In [ ]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [ ]:
list1 = range(1,11)
print(list(list1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
c = range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [ ]:
d = range(8,3,-1)
print(list(d))

[8, 7, 6, 5, 4]

In [ ]:
e = range(8,3,-2)
print(list(e))

[8, 6, 4]

In [ ]:
f = range(0,9)
print(list(f))
g = range(1,10)
print(list(g))
h = range(1,10,2)
print(list(h))
k = range(10,0,-2)
print(list(k))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [ ]:
l = int(input("請輸入一個正整數"))
for m in range(1,l+1):
    print(m,end = " ")

請輸入一個正整數10
1 2 3 4 5 6 7 8 9 10

In [ ]:
m = int(input("請輸入一個正整數"))
for m in range(1,m+1,2):
    print(m,end = " ")

請輸入一個正整數10
1 3 5 7 9

In [ ]:
sum = 0
for n in range(3):
  sum = sum+n
print(sum)

3

In [ ]:
sum = 0
for n in range(5):
  sum = sum+n
print(sum)

10

In [ ]:
z = int(input("請輸入一個正整數"))
sum = 0
for n in range(z+1):
  sum = sum+n
print(sum)

請輸入一個正整數10
55

In [ ]:
n = int(input("請輸入一個正整數"))
sum = 0
for o in range(1,n+1):
  sum += o
  print("1到",o,"的整數合為:",sum,"\n")

請輸入一個正整數10
1到 1 的整數合為: 1

1到 2 的整數合為: 3

1到 3 的整數合為: 6

1到 4 的整數合為: 10

1到 5 的整數合為: 15

1到 6 的整數合為: 21

1到 7 的整數合為: 28

1到 8 的整數合為: 36

1到 9 的整數合為: 45

1到 10 的整數合為: 55